@use "variable" as *;

.card {
  width: 267px;
  height: 58px;

  border-radius: 7px;
  margin: 0px;
  margin-bottom: 10px;
  background-color: $grey;
  height: auto;
  color: $white;
  position: relative;
  .closing {
    display: flex;
    // margin: auto;
    // width: 267px;
    align-items: center;
    // justify-content: center;
    // background-color: blueviolet;
  }
  hr {
    width: 80px;
    height: 6px;
    color: $low;
    background: rgba(217, 217, 217, 0.04);
    border-radius: 10px;
    border: none;
    margin: 0px 10px;
    // margin-top: 10px;
  }
  p {
    padding: 10px 7px;
    padding-bottom: 3px;
    width: 210px;
    height: auto;
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    color: $white;
  }
  svg {
    height: 24px;
    margin: 0px 5px;
    margin-right: auto;
    cursor: pointer;
  }
  div {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding-bottom: 3px;
  }
  .date-text {
    width: auto;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .drag-handle {
    cursor: grab;
    width: 29px;
    height: 36.91px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    svg {
      margin: auto;
      cursor: grab;
      margin-top: 7px;
      width: 8px;
    }
  }
  .drag-handle:hover {
    background: rgba(217, 217, 217, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: $high;
  }
  .cross:hover {
    background: rgba(217, 217, 217, 0.28);
    border-radius: 5px;
  }
}
