@use "variable" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: inter;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $bg;
  margin: 0;
  padding: 0;
}

.main {
  .parent {
    display: flex;
    // justify-content: center;
  }
  .board-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    background: rgb(0, 0, 0, 0);
    // color: $white;
    color: #278ad1;
    // color: $white;
    border: none;
    outline: none;
    margin: 20px;
    margin-left: 25px;
    width: 330px;
    // margin-right: 250px;
  }
}

.content {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  padding-left: 50px;
  min-width: 200px;
  .todo {
    width: 300px;
    margin: 5px;
    .srt-context {
      min-height: 1px;
      // background-color: #278ad1;
    }
  }
}

.delete {
  width: fit-content;
  color: $white;
  position: absolute;
  bottom: 10%;
  left: 20%;
  // transform: translate(0%, -50%);
  // background-color: $grey;
  background-color: $bg;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  margin-top: 50px;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 1px;
}

@media screen and (min-width: 960px) {
  .parent {
    justify-content: center;
    margin-right: 250px;
    .board-title {
      width: auto;
    }
  }
  .content {
    justify-content: center;
  }
  .delete {
    position: absolute;
    bottom: 10%;
    left: 40%;
  }
}
h1 {
  color: $white;
}
